@media (min-width: 768px) {
  .header_container h1 {
    font-size: 3rem;
  }

  .container_inputs {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container_buttons {
    gap: 4rem;
  }

  .span {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .container_inputs {
    gap: 7rem;
  }

  .container_buttons {
    gap: 8rem;
  }
}

@media (max-width: 528px) {
  .box {
    height: 12rem;
  }
}
